.messageForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
}

.messageInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.messageFileInput {
    padding: 10px;
}

.messageSendButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.messageSendButton:hover {
    background-color: #0056b3;
}
